<h1>Ali</h1>

<div class="container">
  <div class="row">
    <div class="col-md-2">
      title:
    </div>
    <div class="col-md-6">
      <select2-aurora
        [apiUrl]="apiUrl"
        [formControl]="fc1"
      >
      </select2-aurora>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="formGroup" (ngSubmit)="onSave()">
        <div class="col-md-2">
          title2:
        </div>
        <div class="col-md-6">
          <select2-aurora
            [optionList]="optionList"
            formControlName="fc2"
          >
          </select2-aurora>
        </div>

        <div class="col-md-12">
          <button type="submit" name="button">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
